{% extends 'base.html.twig' %}

{% block title %}Todolist{% endblock %}

{% block body %}

    <div class="responsive">
    <table>
    <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Date d'ajout </th>
        <th>Date de réalisation</th>
        <th>Action</th>
    </tr>
    {% for todo in todos %}
        <tr>
            <td class="title">{{ todo.title }}</td>
            <td>{{ todo.content }}</td>
            <td>{{ todo.createdAt|date('d/m/Y, H:i') }}</td>
            
            <td>
            {% if todo.doneAt != NULL %}{{ todo.doneAt|date('d/m/Y, H:i') }}{% else %}
            Non réalisée
            {% endif %}
                
            </td>
            <td>
                <a href="{{ path('todo-delete', { id: todo.id }) }}">Supprimmer</a>
                <a href="{{ path('todo-edit', { id: todo.id }) }}">Modifier</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>

{% endblock %}
